body {
  min-height: 75rem;
  /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #495466;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem;
  /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #495466;
}

.card {
  float: center;
  width: 30%;
  min-width: 320px;
  height: auto;
  padding: .75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  image-orientation: from-image;
}

.card-text {
  margin-top: .75rem;
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

