// Fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// Variables
@import "_variables";

// Bootstrap
@import '~bootstrap';
@import '~bootstrap-vue';

// Overrides
html {
    @extend html;
    font-family: Raleway, sans-serif;
    background-color: $background-dark;
}

body {
    background-color: inherit;
    color: $off-white;
}

h1 {
    font-family: Comfortaa, Raleway, sans-serif;
}

a {
    color: rgba(210, 210, 210, 0.5)
}

a:hover {
    text-decoration: none;
}

.blog-post {
    max-height: 20vh;
    overflow: hidden;
}

.post:hover {
    text-decoration: none;
    color: $off-white;
}

.svg {
    max-width: 24px;
    filter: invert(1);
}

.text-medium {
    font-size: 1.4em;
}

.text-large {
    font-size: 2em;
}

.rounded-custom {
    border-radius: 20px;
}
