/**
 * Post Styles
 */
@import "variables";

.cover-post-body {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;

    text-align: justify;
    font-weight: 100;

    display: --webkit-box;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 20px;
    /* max-height = line-height (1.2) * lines max number (8) */
    max-height: 180px;

    :hover {
        text-decoration: none;
    }
}


.blog-post {
    max-width: 800px;
    text-align: justify;
    font-size: 15px;
}

.blog-post-title {
    font-family: Raleway, sans-serif;
    padding: 0 0 5px;
    h1 {
        margin-bottom: -4px;
    }
}

.timestamp {
    opacity: 0.55;
    font-style: italic;
    display: block;
    padding: 0 0 15px;
}

.blog-post-body {
    font-size: 15px;
    text-align: justify;
    padding: 20px 0 0;
    border-top: .5px solid gray;
}

.markdown-parser {
    text-align: justify;
}
