// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Raleway&display=swap');

// Variables
@import "_variables";
$theme-colors: ("wiserei": $wiserei-base-color);
$spacers: (6: ($spacer * 6), 7: ($spacer * 12));

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// Element
// theme color
$--color-primary: teal;
// icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

// Overrides
body {
    overflow: hidden;
}

html {
  @extend html;
  font-family: Raleway, sans-serif;
}

.container-fluid {
  height: calc(100vh - 30px);
}

#sponsor-logos {
  margin: 90px 30px 0px 30px;
}

.icon-large {
  height: 32px;
  background-size: contain;
  opacity: .4;
  filter: grayscale(100%);

  &.trulia {
    background-image: url("/images/trulia.svg");
    background-repeat: no-repeat;
  }

  &.realtorcom {
    background-image: url("/images/realtorcom.svg");
    background-repeat: no-repeat;
  }

  &.redfin {
    background-image: url("/images/redfin.svg");
    background-repeat: no-repeat;
  }

  &.homie {
    background-image: url("/images/homie.svg");
    background-repeat: no-repeat;
    margin-left: 20px;
  }

  &.zillow {
    height: 40px;
    background-image: url("/images/zillow.svg");
    background-repeat: no-repeat;
  }
}

.wiserei-background {
  height: 75%;
  background-image: url('/images/wiserei1.jpg');
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;

  &.h-100vh {
    height: 100vh !important;
  }
}

.filter-dropdown {
  min-width: 35px;
}

#states-checkbox-group {
  height: auto;
  width: 150px;
  max-height: 400px;
  overflow-x: hidden;
}

.scrollable-dropdown {
  height: auto;
  width: 150px;
  max-height: 400px;
  overflow-x: hidden;
}

.navbar {
  @extend .navbar;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-brand {
  @extend .navbar-brand;
  font-family: Comfortaa, sans-serif;
}

.btn-group.b-dropdown.dropdown {
  button.dropdown-toggle {
    text-align: left;
  }
}

// Custom
a {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.no-opacity {
  opacity: 1;
}

.data-by-city-search {

}

.data-by-city-backdrop {
  background: linear-gradient(to top, white, transparent);
  height: 100%;
  width: 100%;
  position: absolute;
}

.filter-label {
  inline-size: fit-content;
}

.jumbotron-wiserei {
  background: white;
  opacity: 0.8;
}

.wiserei-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.wiserei-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 48px;
  width: auto;
}

